p:first-letter { 
    font-size: 30px;
   color: red
  }
  .h21 {color: orange;}
  
  .h22 {color: blue;}
  .veg1 {color: red;}
  .fruts{color: green;}
  .fruts1{color: grey;}
  span{ font-style: italic;
  color: white;
  background: green;}
  table,th,td {border: 1px solid black;
  text-align: center;
  }
  .names{color:orange;
  background-color:white;
  text-align: left}
  .amount{background-color: green;
  color: white;}