.rectangle1 {
  position: absolute;
  top: 300px;
  left: 500px;
  background-color: #8b9eaf;
  border: 5px solid black;
  width: 400px;
	height: 200px;
  z-index: 3;
}
.rectangle2 {
  position: relative;
  top: 317px;
  left: 518px;
  background-color: #3b3e45;
  border: 5px solid black;
  width: 350px;
	height: 150px;
  z-index: 4;
}

.rectangle3 {
  position: absolute;
  top: 170px;
  left: 525px;
  background-color: #8b9eaf;
  border: 5px solid black;
  width: 350px;
	height: 125px;
  z-index: 1;
}
.rectangle4 {
  position: absolute;
  top: 200px;
  left: 550px;
  background-color: #8b9eaf;
  border: 5px solid black;
  width: 300px;
	height: 100px;
  z-index: 1;
}
.rectangle5 {
  position: absolute;
  top: 60px;
  left: 600px;
  background-color: #fcba25;
  border: 5px solid #c16a23;
  width: 50px;
	height: 100px;
  z-index: 1;
}
.rectangle6 {
  position: absolute;
  top: 60px;
  left: 750px;
  background-color: #fcba25;
  border: 5px solid #c16a23;
  width: 50px;
	height: 100px;
  z-index: 1;
}
.antenna {
  background-color: #e63614;
  width: 10px;
	height: 70px;
  z-index: 1;
}
.rectangle7 {
  position: absolute;
  top: 80px;
  left: 775px;
}

.rectangle8 {
  position: absolute;
  top: 80px;
  left: 625px;
}
.teeth {
  background-color: white;
  border: 5px solid black;
  width: 45px;
	height: 45px;
  z-index: 4;
}
.square1 {
  position: absolute;
  top: -5px;
  left: 110px;
}
.square2 {
  position: absolute;
  top: -5px;
  left: 180px;
}
.square3 {
  position: absolute;
  background-color: black;
  width: 15px;
	height: 15px;
  z-index: 4;
  top: 250px;
  left: 770px;
}
.square4 {
  position: absolute;
  background-color: black;
  width: 15px;
	height: 15px;
  z-index: 4;
  top: 250px;
  left: 622px;
}
.circle1 {
  position: absolute;
  top: 205px;
  left: 580px;
  width: 80px;
	height: 80px;
	background: #fcba25;
  border: 10px solid black;
	border-radius: 50px;
    z-index: 2;

}
.circle2 {
  position: absolute;
  top: 205px;
  left: 728px;
  width: 80px;
	height: 80px;
	background: #e63614;
  border: 10px solid black;
	border-radius: 50px;
    z-index: 2;
}
