div {
  border-color: #000070;
  background-color: #000070;
}
.box{
  font-size: 30px;
  font-family: verdana;
  display: inline-block;
  padding: 20px;
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
.box:hover {
  background-color: #7953d2;
}
